body {
    margin: 0px;
    padding: 0px;
}
.first {
    background-image: url(foto/firstfon.jpg) ;
    width: 1920px;
    height: 1294px;
    background-position: center;
    margin-top: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;  

}
.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 550px;
}
.h2 {
    font-size: 21px;
    font-weight: 500;
    line-height: 143%;
}
.h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 69px;

}
.h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.h5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
}
.h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.h7 {
    display: flex;
    flex-direction: column;
}
.h8 {
    font-size: 20px;
    font-weight: 700;
    line-height: 152%;
}
.h9 {
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
}
.m1 {
    gap: 24px;
    margin-bottom: 40px;

}
.m4 {
    background-color: #F2F6FA;
    border-radius: 5px;
    padding: 10px 18px;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    color: #2E363E;
    border: none;
    
}
.m2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: white;
    
}
.m3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 143%;
    color: #FFFFFF;
}
.a1 {
    display: flex;
    gap: 20px;

}
.a2 {
    background-color: #FED84C;
    color: #2E363E;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;
    border-radius: 8px;
    width: 277px;
    height: 88px;
    border: none;
}
.a3 {
    padding: 20px 0px 20px 20px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}
.m {
    margin: 307px 903px 465px 370px;
}
.b {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 40px;   /* уменьшаем пустое место сверху */
}
.second {
    background-color: #FFFFFF;
    width: 1920px;
    height: 1926px;
    margin: 0 auto;  

}
.box {
    display: grid;
    grid-template-columns: 380px 380px 380px ;
    grid-template-rows: 582px 582px 582px;
    margin: 140px 370px 0px 370px;
    width: 1180px;
    height: 1786px;
    margin-top: 80px;
}

.x1 {
    width: 380px;
    height: 580px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F6FA;
    
   

}
img {
    border-radius: 10px;
}

.discr {
    padding: 30px 89px 0px 44px;
    

}
.text {
    color: #2E363E;
    font-size: 24px;
    font-weight: 700;
    line-height: 143%;
    margin-bottom: 12px;
}
.text2 {
    color: #2E363E;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.cost {
    margin: 0px 173px 50px 44px;
}
.rub {
    color: #434B53;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    
}
.zac {
    background-color: #FED84C;
    color: #2E363E;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
}
.t3 {
    position: relative;
    background-color: #081130;
    padding: 150px 0px;
    overflow: hidden;
    width: 1920px;
    height: 1352px;
    margin: 0 auto;  
}
.header {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0px;

}
.sidebar {
    

}
.main {
    

}
.str {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    min-height: 1900px;
    gap: 50px;

}
.footer {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0;
}
.four {
    background-color: white;
    width: 1920px;
    height: 830px;
    margin: 0 auto;           /* центр по горизонтали */
    display: flex;
    align-items: center;      /* вертикальное выравнивание */
    justify-content: space-between;
    gap: 40px;
}
.flex {
    display: flex;
    align-items: center;
    gap: 20 px;
    margin: 0 auto;
  

}
.foto {
    position: relative;
    width: 580px;
    height: 804px;
    display: flex;
    justify-content: center;
}
.elip {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: #FED84C;
    border-radius: 50%;
    margin-top: 238px;
}
.woman-wrap {
    position: relative;


    overflow: hidden;       
    border-radius: 0 0 220px 220px;
    margin: 0 auto;
}
.woman {
    position: relative;
    z-index: 2;
    margin-top: 14px;
   
}
.name {
    position: absolute;
    bottom: 174px;
    left: 50px;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
}
    
.p1 {
    padding: 15px 24px 15px 24px;
    background-color: #2E363E;
    clip-path: polygon(
        5% 0%,    /* левый верх смещён вниз */
        100% 0%,   /* правый верх */
        95% 100%,/* правый низ */
        0 100% );   /* левый низ */
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}
.p2 {
    padding: 15px 24px 15px 24px;
    background-color: #F2F6FA;
    counter-reset: #2E363E;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    clip-path: polygon(
        5% 0%,    /* левый верх смещён вниз */
        100% 0%,   /* правый верх */
        95% 100%,/* правый низ */
        0 100% );   /* левый низ */


}
.black {
    color: black;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
       
}
ul li::marker {
    color: #5D6AFB;
    
    
}
li {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #2E363E;
    margin-bottom: 30px;
    
}
.five {
    background-color: #081130;
    width: 1920px;
    height: 1600px;
    margin: 0 auto;           /* центр по горизонтали */
    display: grid;
    align-items: center;      /* вертикальное выравнивание */
    
    text-align: center;
    
}

.five h2 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  
}
.review-card {
    
    margin: 0 auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 143px;
    gap: 54px;
    border: 2px solid #E2EAF2;
    border-radius: 5px;
}
.review-text {
   
    /* padding: 70px 54px 146px 143px; */

}
.quote {
    font-size: 80px;
    color: #5D6AFB;
    font-weight: bold;
    
   
}
.review-text h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 143%;
  color: #2E363E;
  
}

.review-text p {
  font-size: 15px;
  color: #2E363E;
  line-height: 170%;
  font-weight: 400;
}

.review-text a {
  display: inline-block;
  color: #4A94FF;
  text-decoration: none;
  font-size: 14px;
}

.review-text a:hover {
  text-decoration: underline;
}
.review-author {
  text-align: center;
  
}

.review-author img {

  border-radius: 50%;
  margin-bottom: 0px;
}
.review-author strong {
  display: block;
  font-size: 21px;
  line-height: 143%;
  font-weight: 500;
  color: #2E363E;
}

.review-author span {
  font-size: 16px;
  color: #A6AEB6;
  font-weight: 400;
  line-height: 170%;
}
.yel {
    margin-top: 40px;
    
    
}
.o1 {
    background-color: #FED84C;
    border-radius: 50%;
    color: #2E363E;
    font-weight: bold;
    border: 4px solid #2E363E;
    padding: 10px;
    font-size: 24px;
    
}
.bot {
    bottom: 0px;
}
.six {
    background: #ffffff;
    margin: 0 auto;           /* центр по горизонтали */
    align-items: center;      /* вертикальное выравнивание */
    
    text-align: center;
}

.orders-container {
    display: grid;

  width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.orders-container h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #2E363E;
}



.orders-container p {
  font-size: 24px;
  color: #2E363E;
  margin-bottom: 80px;
}

.orders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
}

.orders-grid img {
  
  object-fit: cover;
  border-radius: 2px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.orders-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}




.sev {
    background: #081130;
    margin: 0 auto;           /* центр по горизонтали */
    align-items: center;      /* вертикальное выравнивание */
    width: 1920px;
    height: 912px;
    text-align: center;
}
.sev img {
    
}


/* белый блок */
.box-z {
    width: 1180px;
    left: 370px;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
   
}

/* заголовок */
.z1 h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 133%;
    color: #2E363E;
}

.z1 p {
    color: #2E363E;
    
    font-size: 21px;
    font-weight: 400;
    line-height: 143%;
}

/* форма */
.z2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vvod {
    display: flex;
    gap: 15px;
    margin: 0 auto;
}

.vvod input {
    width: 380px;
    padding: 30px 26px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background: #F2F6FA;
}

.vvod button {
    background: #FED84C;
    border: none;
    border-radius: 8px;
    padding: 29px 123px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.vvod button:hover {
    background: #ffbe33;
}

/* согласие */
.otpr {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #6b7280;
    margin: 0 auto;
}

.otpr button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 2px;
    background-color : #f3f4f5;
    cursor: pointer;
}
.otpr button:hover {
    background-color: #4A94FF;
}

/* нижняя информация */
.inf {
    text-align: center;
    color: #7E868E;
    font-size: 12px;
    margin-top: 80px;
}

.group {
    display: flex;
    justify-content: center;
    gap: 43px;
    margin-bottom: 10px;
}

.group p {
    cursor: pointer;
}

.group p:hover {
    text-decoration: underline;
}


