.element {
   box-shadow: 10px 20px 7px 3px rgba(129, 128, 128, 0.75);
   width: 250px;
   height: 300px;
   background-color: violet;
   border-radius: 50%;
}
h1 {
    text-shadow: 5px 10px 5px rgba(137, 205, 224, 0.5);
    color: rgb(160, 198, 168);
    font-size: 30px;
}
h2 {
    text-shadow:10px 30px 15px rgba(231, 94, 140, 0.5);
    color: rgb(110, 218, 126);
    font-size: 60px;
}
.box {
    background: linear-gradient(to left, rgb(248, 83, 198), rgb(70, 160, 220));
    width: 200px;
    height: 150px;
    border: 2px solid rgb(236, 194, 234);

}
.box2 {
   background: radial-gradient(circle, rgb(153, 255, 0), rgb(197, 198, 205), rgb(153, 79, 177));
   width: 150px;
   height: 200px;
   border-radius: 20px;

}