@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&display=swap');
h1 {
    font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}
h2 {
     font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
   font-family: "MyFont";
   src: url(./static/Roboto-BoldItalic.ttf);
}

p {
   color: rebeccapurple;
   font-family: "MyFont", "Roboto", Arial, sans-serif;
}
