header {
    background-color: #E1EDE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 165px;
}
.line {
    display: none;
}
.one {
    display: flex;
    gap: 8px;
    align-items: center;
    color: #598D66;
    
    
}



.one p {
    font-size: 20px;
    
    line-height: 100%;
    color: #598D66;
}
.two {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 60px;
    width: 100%;
    
}
.two a {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    text-decoration: none;
   
}

.block {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

}
.text h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 110.00000000000001%;
    color: #2C2D35;
    margin-bottom: 20px;
}
.text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    margin-bottom: 60px;
}
.product {
    border: 1px solid#598D66;
    padding: 21px 60px;
    color: #598D66;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
}
@media (max-width: 1440px) {
    header {
    background-color: #E1EDE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 165px;
}

}
@media (max-width: 690px) {
    header {
    background-color: #E1EDE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 39px;
    }
   
}
.sova {
    width: 330px;
    height: 380px;
}
.text h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 110.00000000000001%;
    color: #2C2D35;
    margin-bottom: 20px;

    
}
@media (max-width: 510px) {
    header {
    background-color: #E1EDE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    .text h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    margin-bottom: 20px;

    
}
.text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #86928B;
    margin-bottom: 11px;
}
.sova {
    width: 195px;
    height: 239px;
}
.product {
    border: 1px solid#598D66;
    padding: 14px 41px;
    color: #598D66;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
}
.two a {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #2C2D35;
    text-decoration: none;
   
}

}
@media (max-width: 320px) {
     header {
    background-color: #E1EDE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    a {
        display: none;
    }
    .line {
        display: block;
        
    }
    .korzina {
        display: block;
    }
    .sova {
        display: none;
    }

    

}