body {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.box {
  width: 120px;
  height: 120px;
  background-color: #598d66;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.rotate {
  transform: rotate(25deg);
}
.scale {
  transform: scale(1.3);
}
.translate {
  transform: translate(30px, 20px);
}
.skew {
  transform: skew(20deg, 10deg);
}
.anim {
    transition: transform 0.7s, background-color 0.7s;
}
.anim:hover {
  background-color: #fcf34c;
  transform: scale(1.2) rotate(15deg);
}

.new {
   animation: spinScale 2s infinite alternate;
  
}


@keyframes spinScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2) rotate(20deg);
  }
}