p {
    color: brown;
    
}
h1 {
    font-size: 10px;
    color: fuchsia;
}

p::before {
    content: "Новая строка.";
    color: rgb(211, 192, 107);
    display: block;

    margin-bottom: 10px;
}
h1::after {
   content: "Нижняя строка h1.";
   display: block;
   color: #007bff;
   margin-top: 20px;
}
h2::after {
    display: block;
   content: " ←";
   color: #c066c8;
}
.product-box {
      position: relative;      /* нужно для ::before и ::after */
      width: 200px;
      height: 40px;
      text-align: center;
      background-color: #d1dbae;
    }

    .product-box::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      border:1px solid #598d66;
    }

    
    .product-box::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #598d66;
    }